body {
	background: url(img/ocean.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size:    cover;
            -o-background-size:      cover;
            background-size:         cover;
            margin: 0;
            padding: 0;
	height: 100%;
	text-align: center;
}


.splash{
	padding-top: 100px;
}

img {
	width: 200px;
	padding-bottom: 50px;
}

h1 {
	letter-spacing: 3px;
	font-size: 80px;	
	font-family: 'Lato', Arial;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
}

.enter_links {
	letter-spacing: 3px;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

.enter_links a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px;
	font-family: 'Lato', Arial;
	font-weight: 300;
	text-transform: uppercase;
	opacity: 1;
}

.enter_links a:hover{
	text-decoration: none;
	/*glacier color: #1995AD;*/
	/*ice color: #A1D6E2;*/
	color: rgba(255,255,255,0.5);
	-webkit-transition:all .2s ;
	-transition:all .2s;
}
