	/*glacier color: #1995AD;*/
	/*ice color: #A1D6E2;*/

@media screen and (max-width:680px) {
	.gallery_items {
		display: block;
		text-align: center;
	}

	.logo {
		width:100%;
		text-align:center;
		margin:20px 0;
	}	
	#about, #contact {
		display: none;
	}

/*	.col-sm-4 {
		float: center; !important
		width: 100%; !important
	}*/


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: block;
  }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }

  ul.topnav.responsive li a:hover {
  	color: #555;
  }
}

/*END OF MEDIA QUERIES*/


/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
@media (min-width:681px) {
	ul.topnav li.icon {display: none}
	ul.topnav li a{display: none}
}



body {
	font-family: 'Lato', Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

.logo {
	width: 150px;
	margin: 0px 150px 0px 150px;
}

.header {
	padding: 50px 0px 50px 0px;
	text-align: center;
	min-width: 447px;
}

.tab {
	display: inline;
}
.tab_link {
	text-transform: uppercase;
	font-family: 'Lato', Arial;
	color: black;
	font-size: 15px;
}

.tab_link:hover {
	text-decoration: none;
	color: #555;
}

.tab_link:visited {
	text-decoration: none;
	color: black; /* this one changes it, but the other colors have no effect */
}

#magic_about {
	display: none;
}

.gallery {
	overflow: hidden;
	padding-bottom: 200px;
}

.gallery_items{
	/*border: solid 1px black;*/
	margin-bottom: 30px;
	text-align: center;
}

.gallery_icon {
	/*border: solid 1px red;*/
	max-width: 400px;
	height: 300px;
	cursor: pointer;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;

}

.gallery_icon img {
    min-width: 100%;
    min-height: 100%;
    max-width: 400px;
}

.col-sm-4 {
	/*border: solid 1px blue;*/
	overflow: hidden;
	height: 300px;
	padding: 0px; 
	text-align: center;
	/*min-width: 447px;*/
}

/*.row {
	padding-bottom: 30px;
}
*/
.modal-title {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.modal-body img {
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Lato', Arial, sans-serif;
}

a:hover {
	color: #000;
}

.about {
    background-image: url("/img/dark_geometric.png");
    height: 400px;
}

.about_text {
    width: 55%;
    display: inline-block;
    padding: 40px;
    color: #A1D6E2;
    vertical-align: middle;
    text-align: left;
}

.about_text p {
    color: #fff;
}

/*Hover Effect -----------*/

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:white;
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 17px;
  padding-top: 150px;
  margin: 0px;
}

.hovereffect h3 {
  text-transform: uppercase;
  text-align: center;
  color: #777;
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 14px;
  padding-top: 10px;
  margin: 0px;
}

.hovereffect:hover img {
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
}

.hovereffect:hover .overlay {
opacity:0.9;
filter:alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover h3, {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(100);
-webkit-transform:translatey(100);
transform:translatey(100);
}


footer {
	font-family: 'Lato', Arial;
	min-width: 447px;
}

/*hover effect ends*/